aiocoap==0.4.7
blinker==1.7.0
cbor-diag==1.0.1
cbor2==5.5.1
cffi==1.16.0
click==8.1.7
cryptography==41.0.5
Cython==0.29.36
DTLSSocket==0.1.16
fe25519==1.5.0
filelock==3.13.1
flask==3.0.0
ge25519==1.5.1
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
pycparser==2.21
Pygments==2.16.1
termcolor==2.3.0
websockets==12.0
werkzeug==3.0.1
zipp==3.17.0
