
# editors
*.swp
*~

# build
thread-coap-client-dimmer/build*/
thread-coap-client-heater/build*/
thread-ftd/build*/
*.bin
*.hex
*.elf

#VSCode
.vscode

#PyEnv
env/

#Python
*__pycache__*

# Databases
*.db

#SSL
*.pem
*.csr

# Exclude private files
private*/*