<!DOCTYPE html>
<html>
<head>
    <title>Thread Home Automation System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h2>Set Parameters</h2>
    <form method="post" action="/submit">
        <label for="temperature">Set heater temperature:</label>
        <input type="number" step="1" name="temperature" min=10 max=30 required>

        <label for="illuminance">Set dimmer illuminance:</label>
        <input type="number" step="10" name="illuminance" min=0 max=2000 required>

        <input type="submit" value="Submit">
    </form>

    <h3>Last Update:</h3>
    {% if last_update %}
    <p>Time: {{ last_update[1] }}</p>
    <p>Heater set temperature: {{ last_update[2] }}</p>
    <p>Dimmer set illuminance: {{ last_update[3] }}</p>
    {% else %}
    <p>No data available</p>
    {% endif %}

    <div class="button-container">
        <a href="/logs/heater" class="button">Heater Logs</a>
        <a href="/logs/dimmer" class="button">Dimmer Logs</a>
    </div>
</body>
</html>
