<!DOCTYPE html>
<html>
<head>
    <title>Client 2 Logs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='logs.css') }}">
    </style>
</head>
<body>
    <h1>Logs</h1>
    {% if logs_data %}
    <table>
        <tr>
            <th>Time</th>
            <th>Measured Temperature</th>
            <th>Sent Temperature Correction</th>
            <th>Source IP</th>
        </tr>
        {% for log in logs_data %}
        <tr>
            <td>{{ log[0] }}</td>
            <td>{{ log[1] }}</td>
            <td>{{ log[2] }}</td>
            <td>{{ log[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No logs available.</p>
    {% endif %}
</body>
</html>
